body {
  font-size: 12px;
  line-height: 1.5;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}
main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
}

.topBar-group {
  height: 70px;
  width: 100%;
  background-color: #242424;
}

.topBar-group > .logo {
  color: #fff;
  height: 70px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
}
.topBar-group > .logo > img {
  width: 30px;
  height: 30px;
  margin: 20px 0px;
}

.topBar-group > .logo > span {
  line-height: 36px;
  margin: 20px 0 14px 5px;
  font-size: 22px;
}

main > .songList-group {
  width: 450px;
  padding-top: 40px;
  background-color: #f9f9f9;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}
main > .songList-group > h2 {
  height: 28px;
  font-family: simsun, \5b8b\4f53;
  padding: 0 10px 12px 15px;
}

main > .songList-group > ul {
  cursor: pointer;
}

main > .songList-group > ul > li {
  height: 62px;
  padding: 10px 0 10px 20px;
  display: flex;
  align-items: center;
  flex-direction: flex-start;
}
main > .songList-group > ul > li:hover {
  background: #f4f2f2;
}

main > .songList-group > ul > li.selected {
  background: #e6e6e6;
}

main > .operateArea-group {
  width: 530px;
  height: 100vh;
  min-height: 550px;
  border: 1px solid red;
  background-color: #fff;
}

main > .operateArea-group > .operateTrigger {
  width: 100%;
  height: 40px;
  background-color: #c20c0c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

main > .operateArea-group > .operateTrigger > ul {
  display: flex;
  font-size: 12px;
  cursor: pointer;
}

main > .operateArea-group > .operateTrigger > ul > li {
  padding: 2px 5px;
  margin: 0 5px;
  border: 1px solid transparent;
  border-radius: 15px;
}
main > .operateArea-group > .operateTrigger > ul > li.active {
  background-color: #9b0909;
  border: 1px solid #9b0909;
}
main > .operateArea-group > .operateTrigger > ul > li:hover {
  background-color: #9b0909;
  border: 1px solid #9b0909;
}

main > .operateArea-group > .uploadArea.active {
  padding: 150px 80px;
  border-radius: 20px;
  font-size: 16px;
  border: 2px dashed #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  margin: 20px 40px;
  flex-direction: column;
}
main > .operateArea-group > .uploadArea {
  display: none;
}

main > .operateArea-group > .modifyArea.active {
  display: flex;
  padding: 150px 80px;
  border-radius: 20px;
  border: 2px solid #ddd;
  width: 450px;
  min-height: 300px;
  margin: 20px 40px;
  flex-direction: column;
}
main > .operateArea-group > .modifyArea {
  display: none;
}
main > .operateArea-group > .uploadArea:hover {
  cursor: pointer;
}

main > .operateArea-group > .uploadStatus {
  padding-left: 40px;
}
